body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #0F4C92;
}



/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(13, 89, 156, 0.4),
            rgba(13, 89, 156, 0.4)), url(../image/unsplash_nRUp8NXmh4g.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.header_logo {
    margin-top: 35px;
    margin-bottom: 227px;
}

.header h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #F0F0F0;
    margin-bottom: 75px;
}

.header h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F0F0F0;
    margin-bottom: 30px;
}

.header_btn {
    width: 206px;
    height: 57px;
    background: #FF9728;
    border-radius: 84px;
    border: none;
    padding: 16px 40px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 175px;
    cursor: pointer;
}

/* Section */

.hotel_position {
    background: #DEF0FF;
}

.container {
    width: 745px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.container h2 {
    color: #0F4C92;
    opacity: 0.77;
    margin-bottom: 40px;
}

.container p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0F4C92;
}

.about {
    background-color: #f2f9ff;
    padding: 85px 0 100px;
}

.about_blocks {
    width: 1196px;
    margin: 0 auto 80px;
    display: flex;
}

.about_blocks:last-child {
    margin: 0 auto;
}

.about_text {
    margin: 50px 0 40px 80px;
}

.about_text_reverse {
    margin: 50px 140px 40px 0;
}

.about_text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #1B1B1B;
}

.about_text_reverse p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #1B1B1B;
}

.date {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #1B1B1B;
    margin-top: 20px;
    margin-bottom: 40px;
}

.date span {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #1B1B1B;
}

.more_info {
    font-size: 21px;
    line-height: 24.5px;
    color: #ffffff;
    background: #0D599C;
    border: none;
    padding: 15px 70px;
    border-radius: 45px;
    margin-top: 40px;
}

/* Reserve */

.reserve {
    background-color: #B5E4FF;
}

.reserve_block {
    width: 785px;
    margin: 0 auto;
    padding: 100px;
}

.reserve_block_text {
    background-color: #2B477C;
    border-radius: 19px;
    text-align: center;
    color: #F4F4F4;
}

.reserve_block h2 {
    padding-top: 60px;
}

.reserve_block p {
    padding: 40px 60px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.reserve_btn {
    background: #FF9728;
    border: none;
    padding: 16px 40px;
    color: #ffffff;
    font-size: 21px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 30px;
}

/* map */

.map_section h2 {
    color: #0F4C92;
    text-align: center;
    margin: 75px 0;
}

.map {
    width: 100%;
    height: 355px;
    filter: grayscale(100%);
}

.map:hover,
.map:focus {
    filter: grayscale(0%);
    transition: 0.4s;
}

/* Footer */

.footer {
    background-color: #0B83BE;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top: 48px;
}

.footer_text {
    margin-top: 90px;
    padding-bottom: 112px;
}

.footer_text a {
    text-decoration: none;
    color: #FFFFFF;
}

.button_up a {
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0.2;
    cursor: pointer;
}

.button_up:hover a,
.button_up:focus a {
    opacity: 1;
}

/* Form */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

.callback-form {
    background: linear-gradient(327.75deg, #0080BF 9.35%, #00496C 117.99%);
    border-radius: 50px;
    padding: 100px 80px 50px;
}

.callback-form h2 {
    color: #F9F9F9;
    margin-bottom: 75px;
    text-align: center;
}

.callback-form input {
    width: 350px;
    border: 1px solid #F7F6F6;
    background-color: transparent;
    padding: 15px 30px;
    border-radius: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
    box-sizing: border-box;
}

.callback-form input:first-child {
    margin-right: 15px;
}

.callback-form input::placeholder {
    font-size: 18px;
    color: #B2E3FF;
}

.callback-form__btn {
    background: #FF9728;
    border: none;
    padding: 16px 40px;
    color: #ffffff;
    font-size: 21px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: 50px auto 0;
}